/*!
	Admin Styles for Missofis Slider
*/
/*
Admin styles for sf-movie
*/
/**
 * ---------------------------------------------------------------------------
 * TABLE OF CONTENTS
 * ---------------------------------------------------------------------------
 * 1.0 - VARIABLES & PATHS
 * 2.0 - ADMIN STYLES
 *   2.1 - METABOXES
 * ---------------------------------------------------------------------------
 */
/*
 * ---------------------------------------------------------------------------
 * 1.0 VARIABLES & PATHS
 * ---------------------------------------------------------------------------
 */
/*
 * ---------------------------------------------------------------------------
 * 2.0 ADMIN STYLES
 * ---------------------------------------------------------------------------
 */
hr {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #ffffff;
  border-left: none;
  border-right: none;
}
/*
 * ---------------------------------------------------------------------------
 * 2.1 METABOXES
 * ---------------------------------------------------------------------------
 */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
