/*
Site styles for sf-movie-post-type
*/

/**
 * ---------------------------------------------------------------------------
 * TABLE OF CONTENTS
 * ---------------------------------------------------------------------------
 * 1.0 -
 *   1.1 -
 * ---------------------------------------------------------------------------
 */

/*
 * ---------------------------------------------------------------------------
 * 1.0
 * ---------------------------------------------------------------------------
 */

/*
 * ---------------------------------------------------------------------------
 * 1.1
 * ---------------------------------------------------------------------------
 */



 /*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {

	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;

	li {

		-webkit-backface-visibility: hidden;
		position: absolute;
		display: none;
		width: 100%;
		left: 0;
		top: 0;

		&:first-child {

			position: relative;
			display: block;
			float: left;

		}

	}

	img {

		display: block;
		height: auto;
		float: left;
		width: 100%;
		border: 0;

	}

}



// missofis styles

.slider-wrapper {
	
	position: relative;
	margin-left: auto;
	margin-right: auto;
	//max-width: 480px; // same as slider width
	overflow: hidden;


	// ICAN Styles
	background-color: #ececec;
	padding: 14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.2 );
	-moz-box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.2 );
	box-shadow: 0px 1px 2px 0px rgba( 0, 0, 0, 0.2 );
	border: 1px solid #e5e5e5;
	// endfo ICAN Styles

	// slides
	.rslides {

		background-color: rgba( 0, 0, 0, 0.75 );

		li {

			

			img {

			}

			figure {

				//height: 340px; // change it to appropriate values in media queries or use height without max-
				//overflow: hidden;
				.clearfix;

				figcaption {
					
					background-color: rgba( 0, 0, 0, 0.75 );
					width: 100%;
					position: absolute;
					bottom: 0;
					padding: 8px 16px;

					h1, p {

						text-shadow: 0px -1px 0px #000;
						margin: 0;

					}

					h1 {

						font-family: Tahoma, Verdana, Segoe, sans-serif;
						font-size: 16px;
						font-weight: bold;
						line-height: 1;
						color: #f7f7f7;
						padding: 2px 0px;

						a {

							color:inherit;

							&:hover {

								color: #dddddd;

							}

						}

					}

					p {

						font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
						font-size: 12px;
						font-weight: normal;
						line-height: 1;
						color: #a0a0a0;
						padding: 4px 0px;

						a {

							font-size: inherit;
							color: #e41e26;
							text-decoration: none;

							&:hover {

								text-decoration: underline;

							}

						}

					}

				}

			}

		}

	}
	
	// navigation links <a>
	.rslides_nav {

		background-color: rgba( 0, 0, 0, 0.75 );
		display: block;
		.opacity( 0 );
		width: 28px;
		height: 44px;
		line-height: 42px;
		position: absolute;
		top: 50%;
		margin-top: -25px;
		color: #dadada;
		// text-shadow: 0px -1px 0px #000;
		z-index: 69;
		font-size: 13px;
		text-decoration: none;
		text-align: center;
		font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
		-webkit-transition: all 200ms ease-in;
		-moz-transition: all 200ms ease-in;
		-o-transition: all 200ms ease-in;
		transition: all 200ms ease-in;

		&:hover {

			background-color: rgba( 228, 30, 38, 0.80 );
			color: #eeeeee;

		}

		&.prev {

			left: 14px; // same as border width
			right: auto;

		}

		&.next {

			right: 14px;
			left: auto;

		}

	}


	// pager
	.rslides_tabs {

		position: absolute;
		bottom: 20px;
		right: 20px;
		z-index: 70;
		list-style: none;
		padding: 0;
		margin: 0;
		max-width: 36px;

		li {

			position: relative;
			float: left;
			margin: 0px 1px;
			line-height: 12px;

			&.rslides_here {

				a {

					background-color: #e41e26;

				}

			}

			a {

				text-indent: -9999px !important;
				overflow: hidden;
				width: 10px;
				height: 10px;
				background-color: #fff;
				.rounded( 5px );
				display: inline-block;
				line-height: inherit;



			// -webkit-border-radius: 15px;
			// -moz-border-radius: 15px;
			// border-radius: 15px;
			// background: #ccc;
			// background: rgba(0,0,0, .2);
			// display: inline-block;
			// _display: block;
			// *display: block;
			// -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
			// -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
			// box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);

			}

		}

	}



}


// opacity mixin
.opacity(@opacity: 0.5) {
	-moz-opacity: @opacity;
	-khtml-opacity: @opacity;
	-webkit-opacity: @opacity;
	opacity: @opacity;
	@opperc: @opacity * 100;
	-ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
	filter: ~"alpha(opacity=@{opperc})";
}

// clearix mixin
.clearfix {

	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}

	 // For IE 6/7 only, Include this rule to trigger hasLayout and contain floats.
	 *zoom: 1;

}

.rounded(@radius: 2px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}